<div class="row" style="margin-top:20px;">
  <div id="sns-regist">
    <div class="col col-md-8 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-body">
          <p class="caption">
            SNSのアカウントで簡単登録！
          </p>
          <div class="col col-md-6 col-sm-6">
            <%= link_to image_tag("facebook_regist.png", alt: ""), omniauth_authorize_path(resource_name, "facebook") %>
          </div>
          <div class="col col-md-6 col-sm-6">
            <%= link_to image_tag("twitter_regist.png", alt: ""), omniauth_authorize_path(resource_name, "twitter") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for(resource, html:{class:'form-horizontal'}, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div class="row">
  <div class="col col-md-8 col-md-offset-2">
    <%= render 'shared/error_messages', object: f.object %>
    <div id="mail-regist">
      <div class="panel panel-info">
        <p class="caption">
          メールアドレスを使って登録
        </p>
        <div class="form-group">
          <%= f.label '名前', class:"col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-4 col-sm-4">
            <%= f.text_field :family_name, class: "form-control", placeholder: "姓", autofocus: true  %>
          </div>
          <div class="col col col-md-5 col-sm-5">
            <%= f.text_field :first_name, class: "form-control", placeholder: "名"  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'メールアドレス', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9">
            <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス"%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'パスワード', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9">
            <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
            <%= f.password_field :password, class: "form-control", placeholder: "パスワード", autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3" style="clear:both;">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "確認用パスワード", autocomplete: "off" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label '誕生日', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9　form-inline">
            <%== sprintf(f.date_select(:birthday, {:use_month_numbers=>true, :date_separator => '%s', :end_year=>1960,  :start_year=> Time.now.year - 15, :default =>'1990-1-1'.to_date}, {:class => "form-control", :style => "width: 90px;display: inline-block;"}), '年','月') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label '性別', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9 input-form">
            <div class="radio-inline">
              <label><%= f.radio_button :gender, "男性" , {:checked => true} %>男性</label>
            </div>
            <div class="radio-inline">
              <label><%= f.radio_button :gender, "女性"  %>女性</label>
            </div>
          </div>
        </div>
        <%= f.submit "新規登録をする", class: "btn btn-info pull-right", style: "margin:0 20px 20px 0;", id: "regist"%>
      </div>
    </div>

  </div>
</div>
<% end %>
