<% @advertising.each do |advertising| %>
<li id="">
  <dl id="" style="margin-bottom: 5px;">
    
    <dd style="text-align: ">
      <a href="#"><span class="shop-name" style="margin:5px;" rel=<%= "pref=#{advertising.shop_pref}&city=#{advertising.shop_city}&name=#{advertising.shop_name}"%>> <%= advertising.shop_name + " " + get_pref_name(advertising.shop_pref) + " " + advertising.shop_city %> </span></a>
    </dd>
    <%= render 'star', {:advertising => advertising}%>
    <dd style="clear:both;">
      <div class="userImage">
        <% if(advertising.anonymous == 0 || advertising.anonymous.nil?) %>
        <% get_user_main_image(advertising.user) %><%= @user_pic %>
        <% else %>
        <%= link_to image_tag("default_image.png", :class => 'user-list-image') %>
        <% end %>
      </div>
    </dd>
    <dd class="userName" style="margin-left: 5px;">
      <% if(advertising.anonymous == 0 || advertising.anonymous.nil?) %>
      <%= get_user_name_with_link(advertising.user) %>
      <% else %>
      <%= advertising.nickname %>
      <% end %>
    </dd>
    <dd class="text" style="margin: 5px;">
      <%= advertising.content %>
    </dd>
    <% if advertising.user_id == current_user.id %>
    <dd class="text" style="text-align: right;margin: 5px;">
      <%= link_to "編集", edit_advertising_path(advertising) %>
    </dd>
    <% end %>
    <dd class="date" style="text-align: right;margin: 5px;">
      <%= advertising.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </dd>
  </dl>
</li>
<% end %>