<%= form_for(@advertising, html:{class: 'form-horizontal'}) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class="container" style="margin-top:20px;">
  <div class="col col-md-5 col-sm-5">
    <div class="form-group">
      <label for="カテゴリー" class="col col-md-4 col-sm-4 control-label">カテゴリー</label>
      <div class="col col-md-8 col-sm-8">
        <%= f.fields_for @advertising.category do |c| %>
        <%= c.collection_select(:category, Category.group("category").order("id"), :category, :category, {prompt: ""}, {class: "form-control"}) %>
        <% end %>
        <%= f.hidden_field :category_id %>
        <%= f.hidden_field :user_id %>
      </div>
    </div>
    <div class="form-group">
      <label for="アルバイト先場所" class="col col-md-4 col-sm-4 control-label">アルバイト先場所</label>
      <div class="col col-md-8 col-sm-8">
        <%= f.select(:shop_pref, [], {}, { :class => 'area_pref form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <div class="col col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4">
        <%= f.select(:shop_city, [], {}, { :class => 'area_city form-control'}) %>
      </div>
    </div>

    <div class="pull-right" id="searched-comment" style="color:red"></div>
    <div id="shop-names"></div>
    <div class="form-group" id="input-shop-name">
      <label for="アルバイト先名称" class="col col-md-4 col-sm-4 control-label">アルバイト先名称</label>
      <div class="col col-md-8 col-sm-8">
        <%= f.text_field :shop_name, class: "form-control", :placeholder => "アルバイト先名称" %>
      </div>
    </div>
  </div>
  <div class="col col-md-7 col-sm-7">
    <div class="form-group">
      <label for="職場の雰囲気" class="col col-md-3 col-sm-3 control-label">職場の雰囲気</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-environment"></div>
      </div>
    </div>

        <div class="form-group">
      <label for="忙しさ" class="col col-md-3 col-sm-3 control-label">忙しさ</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-busy"></div>
      </div>
    </div>
        <div class="form-group">
      <label for="時給" class="col col-md-3 col-sm-3 control-label">時給</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-money"></div>
      </div>
    </div>
            <div class="form-group">
      <label for="友達が出来る" class="col col-md-3 col-sm-3 control-label">友達が出来る</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-friends"></div>
      </div>
    </div>
            <div class="form-group">
      <label for="融通が効く" class="col col-md-3 col-sm-3 control-label">融通が効く</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-flexible"></div>
      </div>
    </div>
            <div class="form-group">
      <label for="やりがい" class="col col-md-3 col-sm-3 control-label">やりがい</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star-worthwhile"></div>
      </div>
    </div>
      <div class="form-group">
      <label for="総合評価" class="col col-md-3 col-sm-3 control-label">総合評価</label>
      <div class="col col col-md-8 col-sm-8" style="margin-top:5px;">
        <div id="star"></div>
      </div>
    </div>
    
    <div class="col col-md-8">
    <%= f.text_area :content, placeholder: "口コミ(100文字以上)", class: "form-control", style: "height: 100px;"  %>
    <div class="pull-right">
      <span class="count_textarea"></span><span>文字</span>
    
    </div>
    <div class="form-group" style="marign-top:20px; clear: both;">
      <label for="投稿名" class="col col-md-8 col-sm-8 control-label">投稿名</label>
      <div class="col col col-md-4 col-sm-4">
        <div class="radio-inline">
          <label><%= f.radio_button :anonymous, "0", {:checked => true, :id => "username_button" }%>ユーザー名</label>
        </div>
        <div class="radio-inline" style="margin-left:0px;">
          <label><%= f.radio_button :anonymous, "1", {:id => "anonymous_button"} %>匿名</label>
        </div>
      </div>　
    </div>

    <%= f.submit "登録", class: "btn btn-info btn-lg pull-right", style: "margin:15px;"%>
    </div>
  </div>
  <% end %>
