<% if @search.present? %>
<% @search.each do |search| %>
<a href="#"><span class="shop-name" rel=<%="pref=#{search.shop_pref}&city=#{search.shop_city}&name=#{search.shop_name}"%>><%= search.shop_name + " " + get_pref_name(search.shop_pref) + " " + search.shop_city %></span></a>
<% end %>

<% else %>
<div id="error_explanation">
  <ul>
    <li>
      * <%= @msg %>
    </li>
  </ul>
</div>
<% end %>
