<div class="col col-md-5">
  <%= button_to "新規登録", new_advertising_path, {:method => :get, :class => "btn btn-info btn-lg", :style => "margin-bottom:20px;width: 100%;" } %>

  <%= form_tag advertising_search_path, :method => 'post', remote: true do %>
  <div class="form-group">
    <label for="カテゴリー" class="col col-md-4 col-sm-4 control-label">カテゴリー</label>
    <div class="col col-md-8 col-sm-8">
      <%= fields_for @_advertising.category do |c| %>
      <%= c.collection_select(:category, Category.group("category").order("id"), :category, :category, {promopt: "", :include_blank => true}, {class: "form-control", style: "margin-bottom:20px;" }) %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label for="アルバイト先場所" class="col col-md-4 col-sm-4 control-label">アルバイト先場所</label>
    <div class="col col-md-8 col-sm-8">
      <%= select :shop_pref, "", [], {}, { :class => 'area_pref form-control', :style => "margin-bottom:20px;" } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4">
      <%= select :shop_city, "", [], {}, { :class => 'area_city form-control', :style => "margin-bottom:20px;" } %>
    </div>
  </div>
  <div class="form-group">
    <label for="アルバイト先名称" class="col col-md-4 col-sm-4 control-label">アルバイト先名称</label>
    <div class="col col-md-8 col-sm-8">
      <%= text_field_tag :search, '', placeholder: "キーワード", class: "form-control" %>
      <%= submit_tag "検索", class: "btn btn-success btn-block", id: "top-advertising-search", style: "margin:20px 0;"%>
      <% end %>
    </div>
  </div>
  
  <div id="shop-names"></div>
</div>