    <dd class="pull-right" style="margin-right: 10px;">
    <span style="font-size:11px;">友達が出来る</span>
      <% if advertising.friends == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.friends == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.friends == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.friends == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.friends == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;">
      <span style="font-size:11px;">忙しさ</span>
      <% if advertising.busy == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.busy == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.busy == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.busy == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.busy == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;">
      <span style="font-size:11px;">職場の雰囲気</span>
      <% if advertising.environment == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.environment == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.environment == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.environment == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.environment == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;clear:both;">
      <span style="font-size:11px;">総合評価</span>
      <% if advertising.ranking == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.ranking == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.ranking == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.ranking == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.ranking == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;">
      <span style="font-size:11px;">やりがい</span>
      <% if advertising.worthwhile == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.worthwhile == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.worthwhile == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.worthwhile == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.worthwhile == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;">
      <span style="font-size:11px;">融通が効く</span>
      <% if advertising.flexible == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.flexible == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.flexible == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.flexible == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.flexible == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>
    
    <dd class="pull-right" style="margin-right: 10px;">
      <span style="font-size:11px;">時給</span>
      <% if advertising.money == 5 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.money == 4 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.money == 3 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.money == 2 %>
      <i class="fa fa-star" style="color:#ffd900;"></i><i class="fa fa-star" style="color:#ffd900;"></i>
      <% elsif advertising.money == 1 %>
      <i class="fa fa-star" style="color:#ffd900;"></i>
      <% end %>
    </dd>