<%= render 'search' %>

<div class="col col-md-7">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "みんなの口コミ情報・最新", advertising_top_path %>
    </li>
    <li>
      <%= link_to "みんなの口コミ情報・検索結果", advertising_search_result_path %>
    </li>
  </ul>
  <div id="advertise">
    <%= paginate(@advertising) %>
    <div id="advertise-title" class="panel panel-default" style="padding-left:20px;">
      <i class="fa fa-comment"></i> 　口コミ検索結果
    </div>

    <ul class="list-unstyled">
      <%= render 'advertising' %>
    </ul>
    <%= paginate(@advertising) %>
  </div>
</div>
