<%= notice %>
<%= render 'search' %>

<div class="col col-md-7">
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "みんなの口コミ情報・最新", advertising_top_path %>
    </li>
  </ul>
  <div id="advertise">
    <%= paginate(@advertising) %>
    <div id="advertise-title" class="panel panel-default" style="padding-left:20px;">
      <i class="fa fa-comment"></i> 　最新TOPICS
    </div>

    <ul class="list-unstyled">
      <%= render 'advertising' %>
    </ul>
    <%= paginate(@advertising) %>
  </div>
</div>

<div class="modal" id="like-list">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-16.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> スタバン 新宿南口店</a>
              </dd>
              <dd class="text">
                スタバン 新宿南口店の山本と申します。山田様のプロフィールを見て、是非うちでアルバイトをやって頂けないかと思いご連絡致しました。若い人が多い職場で、アットホームなところです。よろしければ、ご連絡お待ちしております。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-15.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> ビックビック 新宿2丁目店</a>
              </dd>
              <dd class="text">
                ビックビック 新宿2丁目店の山本と申します。山田様のプロフィールを見て、是非うちでアルバイトをやって頂けないかと思いご連絡致しました。若い人が多い職場で、アットホームなところです。よろしければ、ご連絡お待ちしております。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-14.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> 焼き肉鉢屋 新宿3丁目店</a>
              </dd>
              <dd class="text">
                焼き肉鉢屋 新宿3丁目店の山本と申します。山田様のプロフィールを見て、是非うちでアルバイトをやって頂けないかと思いご連絡致しました。若い人が多い職場で、アットホームなところです。よろしければ、ご連絡お待ちしております。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-13.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> ビッグリカメラ 新宿西口店</a>
              </dd>
              <dd class="text">
                ビッグリカメラ 新宿西口店の山本と申します。山田様のプロフィールを見て、是非うちでアルバイトをやって頂けないかと思いご連絡致しました。若い人が多い職場で、アットホームなところです。よろしければ、ご連絡お待ちしております。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-12.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> 東京ドムドム 新宿店</a>
              </dd>
              <dd class="text">
                東京ドムドム 新宿店の山本と申します。山田様のプロフィールを見て、是非うちでアルバイトをやって頂けないかと思いご連絡致しました。若い人が多い職場で、アットホームなところです。よろしければ、ご連絡お待ちしております。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-11.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> 中華飯店山本</a>
              </dd>
              <dd class="text">
                セブンとローソンと、ファミマでやってたことがあります。その中では一番セブンがよかった。一度覚えればどんなコンビニでも働けるし、お客さんが超多いとこじゃなければレジの中でもかなり楽。お金もそこそこいいし。でも、客観的に「俺ってロボットみたい」って思ったこともあります。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
          <li id="">
            <dl id="">
              <dt>
                <div class="userImage">
                  <a href=""> <img title="user name1" alt="user name1" src="../img/tencho-10.jpg"> </a>
                </div>
              </dt>
              <dd class="userName">
                <a id="username" href=""> カラオケミラクル　新宿店</a>
              </dd>
              <dd class="text">
                セブンとローソンと、ファミマでやってたことがあります。その中では一番セブンがよかった。一度覚えればどんなコンビニでも働けるし、お客さんが超多いとこじゃなければレジの中でもかなり楽。お金もそこそこいいし。でも、客観的に「俺ってロボットみたい」って思ったこともあります。
              </dd>
              <dd class="date">
                2014/10/06 23:29
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
