<% @user.arbeit_records.each_with_index do |record_s, count| %>
<%= f.fields_for :arbeit_records, record_s do |f_record_s| %>
<div class="form-group" style="clear: both;">
  <% if count == 0 %>
  <label for="アルバイト履歴" class="col col-md-3 col-sm-3 col-xs-12 control-label">アルバイト履歴</label>
  <div class="col col col-md-9 col-sm-9 col-xs-12">
    <% else %>
    <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3 col-xs-12" style="margin-top:20px;">
      <% end %>
      <div class="row">
        <div class="col col col-md-3 col-sm-3 col-xs-6">
          <%= f_record_s.text_field :from_year, class: "form-control", placeholder: "年" %>
        </div>
        <div class="col col col-md-2 col-sm-2 col-xs-6" style="padding-left:0px;">
          <%= f_record_s.text_field :from_month, class: "form-control", placeholder: "月"%>
        </div>
        <div class="col col col-md-1 col-sm-1">
          〜
        </div>
        <div class="col col col-md-3 col-sm-3 col-xs-6">
          <%= f_record_s.text_field :to_year, class: "form-control", placeholder: "年" %>
        </div>
        <div class="col col col-md-2 col-sm-2 col-xs-6" style="padding-left:0px;">
          <%= f_record_s.text_field :to_month, class: "form-control", placeholder: "月" %>
        </div>
      </div>
      <%= f_record_s.text_field :name, class: "form-control", placeholder: "アルバイト履歴", style: "margin-top:10px;"%>
    </div>
  </div>
  <% end %>
  <% end %>
  <!-- ><a href="#"><i id="arbeit-add" class="fa fa-plus-circle pull-right fa-2x" style="margin-top:10px;"></i></a><-->
  <%= f.submit "更新", class: "btn btn-info pull-right", style: "clear:both;margin:20px 0;" %>
