    <% @user.edu_records.each_with_index do |record, count| %>
    <%= f.fields_for :edu_records, record do |f_record| %>
    <div class="form-group" style="clear: both;">
      <% if count == 0 %>
      <label for="学歴" class="col col-md-3 col-sm-3 col-xs-12 control-label">学歴・職歴</label>
      <div class="col col col-md-9 col-sm-9 col-xs-12">
        <% else %>
        <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3 col-xs-12" style="margin-top:20px;">
          <% end %>
          <div class="row">
            <div class="col col col-md-3 col-sm-3 col-xs-6">
              <%= f_record.text_field :from_year, class: "form-control", placeholder: "年" %>
            </div>
            <div class="col col col-md-2 col-sm-2 col-xs-6" style="padding-left:0px;">
              <%= f_record.text_field :from_month, class: "form-control", placeholder: "月"%>
            </div>
            <div class="col col col-md-1 col-sm-1">
              〜
            </div>
            <div class="col col col-md-3 col-sm-3 col-xs-6">
              <%= f_record.text_field :to_year, class: "form-control", placeholder: "年" %>
            </div>
            <div class="col col col-md-2 col-sm-2 col-xs-6" style="padding-left:0px;">
              <%= f_record.text_field :to_month, class: "form-control", placeholder: "月" %>
            </div>
          </div>

          <%= f_record.text_field :name, class: "form-control", placeholder: "学歴・職歴", style: "margin-top:10px;"%>
        </div>
      </div>
      <% end %>
      <% end %>
      <!-- ><a href="#"><a href="#" id="edu-add"><i class="fa fa-plus-circle pull-right fa-2x" style="margin-top:10px;"></i></a><-->
      <%= f.submit "更新", class: "btn btn-info pull-right", style: "clear:both;margin:20px 0;" %>