<div class="panel-body">

  <div class="form-group">
    <p>
      <%= f.label 'メインピクチャ', class: "control-label" %>
    </p>
    <a data-toggle="modal" href="#modal-picture" class="modal-picture"> <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/arbeit-static/" + @user.picture.path, data: {toggle: 'modal'}, data: {target: '#img_modal'}, :id => "main-picture", :style => "width: 200px; height:100%;") if @user.picture.path.present? %> </a>

    <%= f.file_field :picture %>
    <%= f.submit "更新", class: "btn btn-info pull-right" %>
    <p>
      <label for="サブピクチャ" class="control-label" style="margin-top:20px;">サブピクチャ</label>
    </p>
    <% @user.images.each do |pic| %>
    <a data-toggle="modal" href="#modal-picture" class="modal-picture"> <%= image_tag("https://s3-ap-northeast-1.amazonaws.com/arbeit-static/" + pic.image.path, :style => "width: 90px; height:100%;paddign-right:5px;padding-bottom:5px;") if pic.image.path.present? %> </a>
    <% end %>
    <%= file_field_tag "images[]", type: :file, multiple:true %>
    <%= f.submit "更新", class: "btn btn-info pull-right" %>
  </div>
</div>
<%= render 'shared/picutre_modal' %>