<div class="visible-sm visible-md visible-lg">
  <% @users.each_with_index do |user, count| %>

  <div class="col col-md-3 col-sm-3 col-lg-3">
    <div class="user-list-image-box">
      <% get_user_main_image(user) %><%= @user_pic %>
    </div>
    <a data-toggle="modal" href="#q_and_a" class="message btn btn-info pull-right">Q&Aを送る</a>
    <div style="min-height: 120px;">
      <div class="panel panel-default user-list-comment">

        <div class="panel-heading user">
          <ul class="list-unstyled">
            <li>
              <%= user.gender %>
            </li>
            <li>
              <%= get_age(user) %> <%= "歳" if user.birthday.present?  %>
            </li>
            <li>
              <%= get_address_name(user) %>
            </li>
            <li>
              <%= user.applicant.applicant_status if user.applicant.present? && user.applicant.applicant_status.present? %>
            </li>
            <li>
              <%= user.applicant.belonging if user.applicant.present? && user.applicant.belonging %>
            </li>
        </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
