<div class="row visible-xs">
  <% @users.each_with_index do |user, count| %>
    <div class="row xs-user-liset-box">
      <div class="col col-xs-3">
        <div class="user-list-image-box">
          <% get_user_main_image(user) %><%= @user_pic %>
        </div>
      </div>
      <div class="col col-xs-9">
        <div class="panel panel-default user-list-comment">
          <div class="panel-heading user">
            <a data-toggle="modal" href="#q_and_a" class="message btn btn-info pull-right">Q&Aを送る</a>
            <div class="panel-heading user">
              <ul class="list-unstyled">
                <li>
                  <%= user.gender %>
                </li>
                <li>
                  <%= get_age(user) %> <%= "歳" if user.birthday.present?  %>
                </li>
                <li>
                  <%= get_address_name(user) %>
                </li>
                <li>
                  <%= user.applicant.applicant_status if user.applicant.present? && user.applicant.applicant_status.present? %>
                </li>
                <li>
                  <%= user.applicant.belonging if user.applicant.present? && user.applicant.belonging %>
                </li>
            </div>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>

