<li id="profile-image-box">
  <% get_main_image %><%= @main_image %>
</li>
<li>
  <span class="size20"　style="text-align:left;"><strong>名前：　<%= @user.family_name + " " + @user.first_name %></strong></span>
</li>
</ul>
<ul class="list-unstyled">
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>自己紹介：<%= get_applicant_data(@user, "self_introduce") %> </span>
  </li>
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>居住地：<%= get_address_name(@user) %> </span>
  </li>
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>年齢：<%= get_age(@user) %></span>
  </li>
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>属性：<%= get_applicant_data(@user, "belonging") %></span>
  </li>
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>大学名：<%= get_applicant_data(@user, "gakko_name") %></span>
  </li>
  <li style="margin-bottom:5px;border-bottom: 1px solid #ececec;">
    <span>沿線：<%= get_applicant_data(@user, "railway_line") %> </span>
  </li>

  <% get_arbeit_records %><%= @arbeit_records%>
  <% get_wish_jobs %><%= @wish_jobs%>
  <% get_sub_images %><%= @sub_images%>
  <%= render 'shared/picutre_modal' %>