<div class="form-group" style="clear:both;">
  <label for="自己アピール" class="col col-md-3 col-sm-3 control-label">自己アピール</label>
  <div class="col col col-md-9 col-sm-9">
    <%= f.fields_for :applicant do |applicant| %>
    <%= applicant.text_area :self_apeal, placeholder: "自己アピール", class: "form-control", style: "height: 100px;" %>
  </div>
</div>
<div class="form-group">
  <label for="勤務希望日・時間" class="col col-md-3 col-sm-3 control-label">勤務希望日時</label>
  <div class="col col-md-9 col-sm-9">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "月曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :monday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :monday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :monday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "火曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :tuesday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :tuesday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :tuesday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "水曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :wednesday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :wednesday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :wednesday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "木曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :thursday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :thursday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :thursday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "金曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :friday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :friday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :friday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "土曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :saturday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :saturday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :saturday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <div class="col col-md-3 col-sm-3">
      <%= applicant.label "日曜日", style: "margin-top:5px;" %>
      <%= applicant.check_box :sunday_ok_flag %>
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :sunday_ok_from_time, class:"timekeper form-control", placeholder: "開始" %>
    </div>
    <div class="col col-md-1 col-sm-1" style="margin-top:5px;">
      〜
    </div>
    <div class="col col-md-3 col-sm-3">
      <%= applicant.text_field :sunday_ok_to_time, class:"timekeper form-control", placeholder: "終了" %>
    </div>
  </div>
</div>
<% end %>