<div class="form-group">
  <label for="開始時期" class="col col-md-3 col-sm-3 control-label">希望の開始時期</label>
  <div class="col col-md-9 col-sm-9">
    <%= f.fields_for @user.status do |s| %>
    <%= s.collection_select(:status, ApplicantStatus.group("status") , :status, :status, {prompt: ""}, {class: "form-control", :name => 'user[status_attributes][status]'}) %>
    <% end %>
  </div>
</div>
<% @user.wish_jobs.each_with_index do |jobs, count| %>
<%= f.fields_for :wish_jobs, jobs do |f_jobs| %>
<div class="form-group">
  <% #if count == 0
%>
  <label for="希望職種" class="col col-md-3 col-sm-3 col-xs-12 control-label">希望の仕事<%= count + 1 %></label>
  <div class="col col col-md-5 col-sm-5 col-xs-5">
    <!--<div class="col col col-md-5 col-sm-5 col-xs-5 col-md-offset-3 col-sm-offset-3">-->
    <%= f_jobs.text_field :wish_job_name, class:"form-control", placeholder: "希望職種" %>
  </div>
  <div class="col col col-md-3 col-sm-3 col-xs-3">
    <%= f_jobs.text_field :wish_payment, class:"form-control", placeholder: "希望時給" %>
  </div>
  <div class="col col col-md-1 col-sm-1 col-xs-1" style="font-size: 10px;padding: 10px 0 0 0;">
    円以上
  </div>
</div>
<div class="form-group">
  <div class="col col col-md-9 col-sm-9 col-md-offset-3 col-sm-offset-3">
    <%= f_jobs.text_field :wish_placement, class:"form-control", placeholder: "希望地　,カンマ区切り" %>
  </div>
</div>
<% end %>
<% end %>
<%= f.submit "更新", class: "btn btn-info pull-right", style: "margin:10px 20px 20px 0;"%>
