<%= javascript_include_tag 'https://s3-ap-northeast-1.amazonaws.com/arbeit-static/custom.js', 'data-turbolinks-track' => true %>
<div class="contants">
    <div id="home">
        <div class="top-exp">
            <div class="exp-title">
                <h1>事前に職場をリサーチ！</h1><br>
                気になった職場と<br>
                <div class="top-accent">ダイレクトに</div>
                コミュニケーション
            </div>
            <div style="text-align: center;">
            <%= link_to "新規登録をする", new_user_registration_path, {:class => "btn btn-info btn-lg", :id => "regist-xs"}%>
            </div>
        </div>
    </div>

    <div id="before-info">
      
        <div class="question" style="margin-top:50px;">
            <div class="curled"></div>
            <%= image_tag("fukidashi2.png", :class => "fukidashi") %>
            <%= image_tag("question_man.png", :class => "question-man") %>
            <div class="question1">募集先を探しまわるのは大変...</div>
            <div class="question2">もっと良いバイト先があるかも！</div>
            <%= image_tag("question_girl.png", :class => "question-girl") %>
            <%= image_tag("fukidashi.png", :class => "fukidashi2") %>
            <div class="question3">どんな職場か詳しく知りたい！</div>
            <div class="question4">職場の雰囲気はどうだろう...</div>
        </div>

        <div class="answer">
            <div id="answer_text" style="display: none">
                <div class="accent1">・</div>
                <div class="accent2">・</div>
                <div class="accent3">・</div>
                <b>そんなニーズにお答え致します！</b>
                <div class="bar"></div>

            </div>
        </div>
    </div>

    <div id="point-title">
        <span class="discription-text1">
            アルバイトコンシェルジェの
        </span>
        <span class="discription-text2">
            <span class="accent4">3</span>つのポイント！
        </span>
    </div>
    <div id="point" style="min-height: 1650px;">
        <div class="point-back" style="height: 430px;">
            <div class="point1-logo">
                <div class="point-title">事前情報を入手しやすい！</div>
                <div class="shikaku">
                    ポイント１
                </div>
                <div class="sankaku"></div>
            </div>
            <!--ふきだしと人-->
            <div class="point-exp" style="font-size: 30px;">
                他の人の口コミから情報収集<br>
                他のアルバイトの方へQ&A<br>
                <%= image_tag("starbucks-explanation.png", :class => 'user-list-image') %>
            </div>


        </div>
        <div class="point-back">
            <div class="point2-logo">
                <div class="point-title">店長へ直接メッセージ送信</div>
                <div class="shikaku">
                    ポイント２
                </div>
                <div class="sankaku"></div>
            </div>

            <!--ふきだしと人-->
            <div class="point-exp" style="font-size: 40px;">
                求人広告ではわからない情報を<br>質問することができる！
            </div>

        </div>

        <div class="point-back" style="height: 470px;">

            <div class="point3-logo">
                <div class="point-title">店長からスカウトメッセージ</div>
                <div class="shikaku">
                    ポイント３
                </div>
                <div class="sankaku"></div>
            </div>

            <!--ふきだしと人-->
            <div class="point-exp" style="font-size: 30px;">
               自分のプロフィールを見て<br>店長から直接スカウトがくることも
               <%= image_tag("kyushoku-how.png", :class => 'user-list-image', :style => 'height:260px;widht:100%;') %>
            </div>
        </div>

        <div class="point-all">
            具体的なイメージを持って面接へ！
        </div>
    </div>
    <div id="site-explation">
        <div class="exp-line">
            いつでもどこでも、やりたい職場探しができる！
        </div>

        <div class="exp-line" style="margin-top: 740px">あなたの職場探しをお手伝い致します！</div>
    </div>
    <div id="advanced-registration">
        <div class="regist">今すぐ職場とコンタクト！</div>
        <a href="/users/sign_up"><div class="regist-button">新規登録はこちらから！</div></a>
    </div>
    <div id="contact-us">

    </div>

    <div id="footer"></div>
</div>
</div>