<%= form_for(@user, html:{class:'form-horizontal', multipart: true}) do |f|  %>
<%= render 'shared/error_messages', object: f.object %>
<div class="container">
  <div class="col col-md-5 col-sm-5">
    <%= render 'picture', {:f=>f} %>
  </div>

  <div class="col col-md-7 col-sm-7">
    <ul class="nav nav-tabs" style="margin-bottom:20px;">
      <li>
        <%= link_to "基本情報", edit_user_path %>
      </li>
      <li>
        <%= link_to "アピる", edit_detail_path %>
      </li>
    </ul>

    <div class="form-group">
      <label for="公開設定" class="col col-md-3 col-sm-3 control-label">公開設定</label>
      <div class="col col col-md-9 col-sm-9">
        <div class="radio-inline">
          <label><%= f.radio_button :open, "0", {:checked => true }%>公開</label>
        </div>
        <div class="radio-inline" style="margin-left:0px;">
          <label><%= f.radio_button :open, "1" %>非公開</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="名前" class="col col-md-3 col-sm-3 control-label">名前</label>
      <div class="col col col-md-4 col-sm-4">
        <%= f.text_field :family_name, class: "form-control", placeholder: "姓"  %>
      </div>
      <div class="col col col-md-5 col-sm-5">
        <%= f.text_field :first_name, class: "form-control", placeholder: "名"  %>
      </div>
    </div>

    <div class="form-group">
      <label for="生年月日" class="col col-md-3 col-sm-3 control-label" style="margin-top:10px;">生年月日</label>
      <div class="col col col-md-9 col-sm-9">
        <%== sprintf(f.date_select(:birthday, {:use_month_numbers=>true, :date_separator => '%s', :end_year=>1960,  :start_year=> Time.now.year - 15, :default =>'1990-1-1'.to_date}, {:class => "form-control", :style => "width: 90px;display: inline-block; margin-top:10px;"}), '年','月') %>
      </div>
    </div>
    <%= f.fields_for :applicant do |applicant| %>
    <div class="form-group">
      <label for="現住所" class="col col-md-3 col-sm-3 control-label" style="margin-top:20px;">現住所</label>
      <div class="col col col-md-9 col-sm-9">
        <%= applicant.select(:address_pref, [@user.applicant.address_pref], {}, { :class => 'area_pref form-control', :style => "margin-top:10px;"}) %>
        <%= applicant.select(:address_city, [@user.applicant.address_city], {}, { :class => 'area_city form-control', :style => "margin-top:10px;"})%>
      </div>
    </div>
    <div class="form-group">
      <label for="所属" class="col col-md-3 col-sm-3 control-label">所属</label>
      <div class="col col-md-9 col-sm-9">
        <%= applicant.text_field :belonging, class: "form-control", :value => @user.applicant.belonging, :placeholder => "学生・フリーターなど" %>
      </div>
    </div>
    <div class="form-group">
      <label for="学校名" class="col col-md-3 col-sm-3 control-label">学校名</label>
      <div class="col col-md-9 col-sm-9">
        <%= applicant.text_field :gakko_name, class: "form-control", :value => @user.applicant.gakko_name, :placeholder => "学校名など" %>
      </div>
    </div>
    <div class="form-group">
      <label for="自己紹介" class="col col-md-3 col-sm-3 control-label">自己紹介</label>
      <div class="col col-md-9 col-sm-9">
        <%= applicant.text_area :self_introduce, placeholder: "自己紹介(200文字以内)", class: "form-control", style: "height: 100px;" %>
      </div>
    </div>
    <% end %>
    <%= f.submit "更新", class: "btn btn-info pull-right", style: "margin:20px 0;"%>
    <%= render 'edu_record', {:f=>f}%>
    <%= render 'arbeit_record', {:f=>f}%>
  </div>
</div>
<!--  -->
<% end %>
