<%= form_for(@user, html:{class:'form-horizontal', multipart: true}) do |f|  %>
<div class="container">
  <div class="col col-md-5 col-sm-5">
    <%= render 'picture', {:f=>f} %>
  </div>
  <div class="col col-md-7 col-sm-7">
    <ul class="nav nav-tabs" style="margin-bottom:20px;">
      <li>
        <%= link_to "基本情報", edit_user_path %>
      </li>
      <li>
        <%= link_to "アピる", edit_detail_path %>
      </li>
    </ul>
    <%= render 'wish_job', {:f => f}%>
    <%= render 'wish_time', {:f => f}%>
  </div>
  <%= f.submit "更新", class: "btn btn-info pull-right", style: "margin:10px 20px 20px 0;"%>
  <%end%>
</div>