<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <div id="mail-regist">
      <div class="panel panel-info">
        <%= form_for(@user, html:{class:'form-horizontal'}, url: {:controller => 'users', :action => 'save_from_twitter', :id => @user}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
          <label for="名前" class="col col-md-3 col-sm-3 control-label">名前</label>
          <div class="col col col-md-4 col-sm-4">
            <%= f.text_field :family_name, class: "form-control", :value => "", placeholder: "姓", autofocus: true  %>
          </div>
          <div class="col col col-md-5 col-sm-5">
            <%= f.text_field :first_name, class: "form-control", :value => "", placeholder: "名", autofocus: true  %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'メールアドレス', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9">
            <%= f.text_field :email, class: "form-control", value: "", placeholder: "メールアドレス", autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label '誕生日', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9　form-inline">
            <%== sprintf(f.date_select(:birthday, {:use_month_numbers=>true, :date_separator => '%s', :end_year=>1960,  :start_year=> Time.now.year - 15, :default =>'1990-1-1'.to_date}, {:class => "form-control", :style => "width: 90px;display: inline-block;"}), '年','月') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label '性別', class: "col col-md-3 col-sm-3 control-label" %>
          <div class="col col col-md-9 col-sm-9 input-form">
            <div class="radio-inline">
              <label><%= f.radio_button :gender, "男性" , {:checked => true} %>男性</label>
            </div>
            <div class="radio-inline">
              <label><%= f.radio_button :gender, "女性"  %>女性</label>
            </div>
          </div>
          <%= f.submit "ログイン", id: "regist", class: "btn btn-info pull-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>