<div class="container">
  <%= notice %>
  <div class="row">
    <div class="col col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="pull-right">
              <% if @is_my_page %>
              <%= button_to "編集", edit_user_path(@user), {:method => :get, :id => "profile-update", :class => "btn btn-info pull"} %>
              <% end %>
            </li>
            <%= render 'user_info' %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-6">
      <%= render 'posts/post_nav'%>
      <%= render 'posts/get_posts'%>
    </div>
  </div>
