<div class="container">
  <div class="row">
    <div class="col col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="pull-right">
              <%= button_to "編集", edit_user_path(@user), {:method => :get, :id => "profile-update", :class => "btn btn-info pull"} %>
            </li>
            <%= render 'user_info' %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-md-8">
      <ul class="nav nav-tabs" style="margin-bottom:20px;">
        <li>
          <%= link_to "ユーザーを見る", root_path %>
        </li>
        <li>
          <a href="#">店舗・店長を見る(comming soon)</a>
        </li>
        <li>
          <%= link_to "口コミ掲示板", advertising_top_path %>
        </li>
      </ul>
      <%= render 'user_list_pc' %>
      <%= render 'user_list_sp' %>
    </div>
  </div>

  <!-- modal -->
  <div class="modal" id="q_and_a">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="panel panel-default" style="margin-bottom:10px;">
          <div class="panel-heading">

            <%= form_for(@post, html:{class:'form-horizontal'}) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_area :content, placeholder: "Q&A...", class: "form-control", style: "height: 80px;"%>

            <div class="form-group" style="margin-bottom: 0px;">
              <label for="投稿" class="col col-md-2 col-sm-2 control-label">投稿</label>
              <div class="col col col-md-4 col-sm-4">
                <div class="radio-inline">
                  <label><%= f.radio_button :anonymous, "0", {:checked => true, :id => "username_button" }%>ユーザー名</label>
                </div>
                <div class="radio-inline" style="margin-left:0px;">
                  <label><%= f.radio_button :anonymous, "1", {:id => "anonymous_button"} %>匿名</label>
                </div>
              </div>
              <%= f.hidden_field :user_id %>
              <%= f.hidden_field :send_user_id %>
              <div class="col col col-md-6 col-sm-6">
                <%= f.submit "投稿", class: "btn btn-info", style: "width:100%;margin-top:5px;"%>
              </div>
            </div>
            <div class="form-group" id="nickname-filed" style="display:none;margin-bottom: 0px;">
              <label for="投稿" class="col col-md-2 col-sm-2 control-label">投稿</label>
              <div class="col col col-md-4 col-sm-4" style="margin-top:5px;">
                <%= f.text_field :nickname, class: "form-control", :placeholder => "匿名" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% unless @have_advertising.any? %>
  <div class="modal" id="advertising-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="color: rgb(127, 68, 10);font-weight: bold;">
          <div style="text-align: center;font-size:25px;">
            今ならアルバイトの口コミ投稿をすると、スターバックスコーヒー券が貰えます！
            <%= image_tag("starbucks.png", :style => 'widht:70px;height:70px;') %>
          </div>
          ※限定50名の先着順になります。
          <div class="row">
            <div class="col col-md-4" style="text-align: center;">
              <%= image_tag("starbucks-post.png", :style => 'widht:50px;height:50px;') %>
              <div>
                ①やっている・やっていたバイト先の
                <br>
                口コミ情報を登録する
                <br>
                ※プロフィール写真のご登録はお願いします。
              </div>
            </div>
            <div class="col col-md-4" style="text-align: center;">
              <%= image_tag("starbucks-mail.png", :style => 'widht:50px;height:50px;') %>
              <div>
                ②登録したメールアドレス宛てに、
                <br>
                24時間以内に500円分のチケットが届きます。
              </div>
            </div>
            <div class="col col-md-4" style="text-align: center;">
              <%= image_tag("starbucks-go.png", :style => 'widht:50px;height:50px;') %>
              <div>
                ③店舗にて、お好きなドリンクが楽しめます。
              </div>
            </div>
          </div>
          
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
        </div>
        <div class="modal-body" style="color: #000000;font-weight: nomal;">
          <%= render 'advertising/new'%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
