
<!-- picture modal -->
<div id="modal-picture" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <script type="text/javascript">
            $(document).on('click', '.modal-picture', function() {
                $('.modal-body').children().remove();
                $('.modal-body').append($(this).children().clone(true).css({
                    "width" : "100%",
                    "background" : "none repeat scroll 0 center rgba(0, 0, 0, 0)"
                }));
                return false;
            });
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          閉じる
        </button>
      </div>
    </div>
  </div>
</div>
<!-- picture modal -->