<div class="row" style="margin-top:20px;">
  <div class="col col-md-2"></div>
  <div id="sns-regist">
    <div class="col col-md-8">
      <div class="panel panel-info">
        <div class="panel-body">
          <p class="caption">
            SNSのアカウントで簡単ログイン！
          </p>
          <div class="col col-md-6 col-sm-6">
            <%= link_to image_tag("facebook_regist.png", alt: ""), omniauth_authorize_path(resource_name, "facebook")%>
          </div>
          <div class="col col-md-6 col-sm-6">
            <%= link_to image_tag("twitter_regist.png", alt: ""), omniauth_authorize_path(resource_name, "twitter")%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-2"></div>
</div>
<div class="row">
  <div class="col col-md-2"></div>
  <div class="col col-md-8">
    <div id="mail-regist">
      <div class="panel panel-info">
        <p class="caption">
          メールアドレスを使ってログイン
        </p>
        <%= form_for(resource, html:{class:'form-horizontal'}, as: resource_name, url: session_path(resource_name)) do |f| %>
         <%= render 'shared/error_messages', object: f.object %>
        <form class="form-horizontal">
          <div class="form-group">
            <%= f.label 'メールアドレス', class: "col col-md-3 col-sm-3 control-label" %>
            <div class="col col col-md-9 col-sm-9">
              <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'パスワード', class: "col col-md-3 col-sm-3 control-label" %>
            <div class="col col col-md-9 col-sm-9">
              <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
              <%= f.password_field :password, class: "form-control", placeholder: "パスワード", autocomplete: "off" %>

              <% if devise_mapping.rememberable? -%>
              <div>
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </div>
              <% end -%>
            </div>
          </div>
          <div>
            <%= f.submit "ログイン", id: "regist", class: "btn btn-info pull-right" %>
          </div>
        </form>
      </div>
      <div style="clear:both;margin-top:20px;" class="pull-right">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<% end %>

