<div class="panel panel-default" style="margin-bottom:10px;">
  <div class="panel-heading">

    <%= form_for(@post, html:{class:'form-horizontal'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "Q&A...", class: "form-control", style: "height: 80px;"%>

    <div class="form-group" style="margin-bottom: 0px;">
      <label for="投稿" class="col col-md-2 col-sm-2 control-label">投稿</label>
      <div class="col col col-md-4 col-sm-4">
        <div class="radio-inline">
          <label><%= f.radio_button :anonymous, "0", {:checked => true, :id => "username_button" }%>ユーザー名</label>
        </div>
        <div class="radio-inline" style="margin-left:0px;">
          <label><%= f.radio_button :anonymous, "1", {:id => "anonymous_button"} %>匿名</label>
        </div>
      </div>
      <%= f.hidden_field :user_id, :value => @this_page_params_user_id %>
      <%= f.hidden_field :send_user_id %>
      <div class="col col col-md-6 col-sm-6">
        <%= f.submit "投稿", class: "btn btn-info", style: "width:100%;margin-top:5px;"%>
      </div>
    </div>
    <div class="form-group" id="nickname-filed" style="display:none;margin-bottom: 0px;">
      <label for="投稿" class="col col-md-2 col-sm-2 control-label">投稿</label>
      <div class="col col col-md-4 col-sm-4" style="margin-top:5px;">
        <%= f.text_field :nickname, class: "form-control", :placeholder => "匿名" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render 'posts/post' %>