<ul class="nav nav-tabs" style="margin-bottom:20px;">
  <li>
    <% if @is_my_page %>
    <%= link_to "受信したQ&A", user_path(current_user.id) %>
    <% else %>
    <%= link_to "Q&A" %>
    <% end %>
  </li>
  <li>
    <%= link_to "送信したQ&A", posts_send_path if @is_my_page || @send == 'send'%>
  </li>
  <li>
    <a href="#">メッセージ(comming soon)</a>
  </li>
</ul>