<%= paginate(@posts) %>
<div id="comment">
  <ul class="list-unstyled">
    <% @posts.each do |post| %>
    <li id="">
      <dl id="" style="margin-bottom: 10px;">
        <dd class="date pull-right" style="margin: 5px;">
          <%= post.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </dd>
        <dd>
          <% if @send == 'send' %>
          <a href=<%= "#{user_path(User.find(post.user_id))}"%> style="margin:5px;"><span class="to-name" style="color:#428bca;">to: <%= post.user(post.user_id).family_name + " " + post.user(post.user_id).first_name %></span></a>
          <% end %>
          <div class="userImage">
            <% if(post.anonymous == 0 || post.anonymous.nil?) %>
            <% get_user_main_image(post.user) %><%= @user_pic %>
            <% else %>
            <%= link_to image_tag("default_image.png", :class => 'user-list-image') %>
            <% end %>
          </div>
        </dd>
        <dd class="userName" style="margin-left: 5px;">
          <% if(post.anonymous == 0 || post.anonymous.nil?) %>
          <%= get_user_name_with_link(post.user) %>
          <% else %>
          <%= post.nickname %>
          <% end %>
        </dd>
        <dd class="text" style="margin: 5px;">
          <%= post.content %>
        </dd>
        <% if post.send_user_id == current_user.id %>
        <dd class="text" style="text-align: right;margin: 5px;">
          <%= link_to "編集", edit_post_path(post) %>
        </dd>
        <% end %>
      </dl>
    </li>
    <% end %>
  </ul>
</div>
<%= paginate(@posts) %>