<div class="container">
  <%= notice %>
  <div class="row">
    <div class="col col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="list-unstyled">
            <li class="pull-right">
              <%= button_to "編集", edit_user_path(current_user), {:method => :get, :id => "profile-update", :class => "btn btn-info pull"} %>
            </li>
            <%= render '/users/user_info' %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col col-md-6 col-sm-6">
      <%= render 'post_nav'%>
      <%= render 'post'%>
    </div>
  </div>
