// Place all the styles related to the advertising controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selected-shop-name {
    display: inline-block;
    font-size: 100%;
    margin: 0 10px 10px 0;
}
.selected-shop-name {
    background: none repeat scroll 0 0 #ff9e2a;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: 18px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}
.selected-shop-name:hover, .selected-shop-name:focus{
  opacity: 0.8;
}

.shop-name {
    display: inline-block;
    font-size: 100%;
    margin: 0 10px 10px 0;
}
.shop-name {
    background: none repeat scroll 0 0 #f3f3f3;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    line-height: 13px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}
.shop-name:hover, .shop-name:focus{
  opacity: 0.8;
}

.to-name {
    display: inline-block;
    font-size: 100%;
    margin: 0 10px 10px 0;
}
.to-name {
    background: none repeat scroll 0 0 #f3f3f3;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    line-height: 13px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}
.to-name:hover, .to-name:focus{
  opacity: 0.8;
}