.panel-success > .panel-heading {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #080808;
	boder-color: #ddd;
}
.panel-success {
	margin-bottom: 5px;
	border-color: #ddd;
}
.panel-success > .panel-heading:hover, .panel-heading:focus {
	background-color: #357ebd;
	background-position: 0 -15px;
	border-color: #357ebd;
}
.panel-success > .panel-heading {
    border-color: #ddd;
}

.list-tag a {
    background: none repeat scroll 0 0 #428bca;
    border-radius: 5px;
    color: #fff;
    display: block;
    line-height: 18px;
    margin: 0 !important;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}
.tag a, .modal-tag a {
    background: none repeat scroll 0 0 #428bca;
    border-radius: 5px;
    color: #fff;
    display: block;
    line-height: 18px;
    margin: 0 !important;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
}

.tag a:hover{
	opacity: 0.8;
}
#advertise > ul{
	border: 1px solid #ececec;
}
#advertise > ul > li {
    border-bottom: 1px solid #ececec;
    padding: 2px 0;
}

#advertise-title {
    background-color: #f3f3f3;
    border: 1px solid #eee;
    margin-bottom: 0px;
}