@charset "UTF-8";

/*
 * nav

.navbar-default {
	background-image: linear-gradient(to bottom, #333333 0px, #333333 100%);
	background-repeat: repeat-x;
	border-radius: 4px;
	box-shadow: none;
}
.navbar-title, .navbar-explain {
	float: left;
	font-size: 18px;
	height: 50px;
	line-height: 20px;
	padding: 15px;
	color: #ffffff;
}
.navbar-default .navbar-nav > li {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-inverse .container .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > .header-nav-text {
	color: #ffffff;
	padding-left: 5px;
	padding-right: 5px;
}
.navbar-title:hover, .navbar-title:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.8;
}
 */
/*
 * visual

#visual {
	background: url("../img/201363553269.jpg") no-repeat scroll center center #444444;
	height: 400px;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
}
#visual #main-description {
	left: 30%;
	position: absolute;
	text-align: center;
	top: 80px;
}
#visual #main-description #main-text {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	line-height: 100px;
	text-shadow: 0 0 5px #000000;
}
#visual #main-description #sub-text {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	text-shadow: 0 0 5px #000000;
}
#visual #regist-form {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	bottom: 50px;
	padding: 10px;
	text-align: center;
	width: 210px;
	margin-right: 20px;
}
#store-regist {
	background-color: #3d4251;
	border-color: #3d4251;
	color: #fff;
	margin-left: 20px;
}
#regist-box {
	padding-top: 300px;
	left: 30%;
	position: relative;
}
/*
 * smart-phone

#visual #regist-form-xs {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	bottom: 50px;
	padding: 10px;
	text-align: center;
	width: 200px;
}
#store-regist-xs {
	background-color: #3d4251;
	border-color: #3d4251;
	color: #fff;
}
#regist-box-xs {
	padding-top: 300px;
	left: 30%;
	position: relative;
}
/*
 * button
 */
.btn-info {
	background: none repeat-x scroll 0 0 #ff9e2a;
	border-color: #ff9e2a;
}
#regist {
	background: none repeat-x scroll 0 0 #ffcc00;
	border-color: #ffcc00;
	color: #fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size: 17px;
}
/*
 * appinstall
 */
#appInstall {
	margin: 15px auto;
	margin-left: 40px;
}

/*
 * sns
 */
#sns-regist {
	text-align: center;
}
.caption {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: center;
}
#sns-regist .panel-info {
	background-color: #f3f3f3;
	border: 1px solid #eee;
}

/*
 * mail-regist
 */
#mail-regist {
	margin-top: 40px;
}
#mail-regist .panel-info {
	border: none;
}

/*
 * modal
 */
#modal-regist .modal-header {
	border-bottom: none;
}
#modal-regist .panel {
	box-shadow: none;
}