/*
 * error
 */
#error_explanation {
    color: #f00;
}
.alert-danger, .alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.alert, .alert h4 {
    color: #000000;
}
.alert {
    background-color: #ffc0cb;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*
 * button
 */
.btn-info {
    background: none repeat-x scroll 0 0 #ff9e2a;
    border-color: #ff9e2a;
}

.btn-info:hover, .btn-info:focus{
	border-color: #ff9e2a;
	background: none repeat-x scroll 0 0 #ff9e2a;
	opacity: 0.8;
}

.btn-success {
	border-color: #f3f3f3;
	background: none repeat-x scroll 0 0 #f3f3f3;
	color: #000000;
}
.btn-success:hover, .btn-success:focus {
	border-color: #f3f3f3;
	background: none repeat-x scroll 0 0 #f3f3f3;
	color: #000000;
	opacity: 0.8;
}
