
.contants {
    min-width: 950px;
}
/*
.navbar-inverse {
    background-color: rgba(255, 167, 85, 0.7);
    border-color: rgba(255, 255, 255, 0);
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 17px 12px;
}
*/
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-nav > li {
	color: #ffffff;
}
.navbar-inverse .container .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-inverse .navbar-brand:hover {
    opacity: 0.8;
}
.navbar-inverse .container .navbar-nav > li > a:hover {
	opacity: 0.8;
}

#before-info {
    min-height: 550px;
    padding-top: 70px;

}
#home {
    background-image: url("/images/arbeit-concierge-view.jpg");
    min-height: 400px;
    background-size: cover;
    -moz-background-size: cover;
    position: relative;

}

.top-exp {
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari,Chrome */
    border-radius: 20px; /* CSS3 */
    position: relative;
    margin-top: 55px;
    width: 43%;
    float: right;
    margin-right: 60px;
    min-height: 345px;
    background-color: rgba(0, 0, 0, 0.8);
}

.top-accent{
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 123, 0);

}
.exp-title {
    padding-top: 30px;
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;

}

.question-ex {
    font-size: 20px;
    color: #FFFFFF;
}

.question{
    height: 400px;
    font-size: 18px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
.question-man {
    position: absolute;
    top: 100px;
    left: 370px;
}
.question-girl {
    position: absolute;
    top: 100px;
    left: 490px;
}

.curled {
    background-color: rgba(255, 167, 85, 0.7);
    border-radius: 50%;
    top:325px;
    left:320px;
    position: absolute;
    height: 50px;
    width: 300px;

}
.fukidashi {
    position: absolute;
    left: 40px;
}
.fukidashi2 {
    position: absolute;
    left: 560px;
}

.question1{
    position: absolute;
    top: 55px;
    left: 75px;
}

.question2 {
    position: absolute;
    top: 85px;
    left: 85px;
}

.question3 {
    position: absolute;
    top: 55px;
    left: 640px;
}

.question4 {
    position: absolute;
    top: 85px;
    left: 635px;
}

.answer {
    height: 50px;
    font-size: 30px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.bar {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: rgb(255, 123, 0);
    transition: all 1s ease;
}

.active {
   transform: scaleX(1);
}

.accent1{
    display: none;
    font-size: 64px;
    color: rgba(255, 123, 0,0.6);
    position: absolute;
    left: 98px;
    bottom: 5px;
}

.accent2 {
    display: none;
    font-size: 64px;
    color: rgba(255, 123, 0, 0.6);
    position: absolute;
    left: 128px;
    bottom: 5px;
}

.accent3 {
    display: none;
    font-size: 64px;
    color: rgba(255, 123, 0, 0.6);
    position: absolute;
    left: 158px;
    bottom: 5px;
}

#point-title{
    min-height: 150px;
    padding-top: 30px;
    background-color: rgba(255, 167, 85, 0.3);
    text-align: center;
}

#point-discription {
    min-height: 150px;
    padding-top: 30px;
    background-color: rgba(255, 167, 85, 0.3);
    text-align: center;
}

.discription-text1{
    font-size: 36px;
    color: #7c6753;

}

.accent4{
    font-size: 54px;
}
.discription-text2 {
    font-weight: bold;
    font-size: 36px;
    color: #2288DD;

}

#point {
    padding-top: 10px;
    text-align: center;
    min-height: 1500px;
    font-size: 18px;
    background-color: #ff0040;
    background-size: 6px 6px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4) 10px, transparent 10px, transparent);

}

.point-back {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari,Chrome */
    border-radius: 20px; /* CSS3 */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
}

#point-text1{
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

.point-exp{
    font-size: 18px;
    color: rgb(127, 68, 10);
}

.point1-circle {

    position: absolute;
    left: 415px;
    top:200px;
    padding-top: 5px;
    background-color: rgba(255, 152, 238, 1);
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.sankaku {
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-top: 30px solid rgba(255, 152, 238, 1);
    border-right: 120px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 120px solid transparent;
    z-index: 2;
}

.shikaku{
    -moz-border-radius: 20px 0px 0px 0px; /* Firefox */
    -webkit-border-radius: 20px 0px 0px 0px; /* Safari,Chrome */
    border-radius: 20px 0px 0px 0px; /* CSS3 */
    position: absolute;
    top: 0;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgba(255, 152, 238, 1);
    width:240px;
    height:60px;
    z-index: 2;
}

.point1-logo {
    position: relative;
    height: 90px;
    position: relative;
    transform: translateY(-60px) scaleY(0);
    transition: all 0.5s ease;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
}

.point2-logo {
    position: relative;
    height: 90px;
    transform: translateY(-60px) scaleY(0);
    transition: all 0.5s ease;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
}

.point3-logo {
    position: relative;
    height: 90px;
    transform: translateY(-60px) scaleY(0);
    transition: all 0.5s ease;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
}

.point-after {
    transform: translateY(0px) scaleY(1);
}

.point-title{
    -moz-border-radius: 20px 20px 0px 0px; /* Firefox */
    -webkit-border-radius: 20px 20px 0px 0px; /* Safari,Chrome */
    border-radius: 20px 20px 0px 0px; /* CSS3 */
    width: 100%;
    background-color: rgba(255, 167, 85, 0.7);
    position: absolute;
    top:0;
    height: 60px;
    text-align: left;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    padding-left: 250px;
    padding-top: 5px;
    z-index: 1;
}

.point-all{
    padding-top: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari,Chrome */
    border-radius: 20px; /* CSS3 */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
    text-align: center;
    color: red;
    font-size: 54px;
    font-weight: bold;
}

#site-explation{
    background-image: url("/images/smart_phone_woman.png");
    background-size: cover;
    -moz-background-size: cover;
    text-align: center;
    min-height: 800px;
    font-size: 18px;
}

.exp-line {
    width: 100%;
    /*background-color: rgba(34, 136, 221, 0.50);*/
    font-size: 36px;
    color: #FFFFFF;
    height: 60px;
    padding-top: 5px;

    background-color: #4b3dff;
    -moz-box-shadow: 0px 0px 6px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#2645ff', endColorstr='#05cdff');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#2645ff', endColorstr = '#05cdff')";
    background-image: -moz-linear-gradient(left, #2645ff, #05cdff);
    background-image: -ms-linear-gradient(left, #2645ff, #05cdff);
    background-image: -o-linear-gradient(left, #2645ff, #05cdff);
    background-image: -webkit-gradient(linear, left top, right top, from(#2645ff), to(#05cdff));
    background-image: -webkit-linear-gradient(left, #2645ff, #05cdff);
    background-image: linear-gradient(left, #2645ff, #05cdff);
    opacity: 0.72;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=82);
    filter: alpha(opacity=82);

}

#advanced-registration{
    padding-top: 30px;
    height: 300px;
}

.regist{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    color: rgb(127,79,33);

}

.regist-button{
    cursor: pointer;
    margin-top: 30px;
    padding-left: 14px;
    padding-top: 18px;
    font-size: 42px;
    text-align: center;
    font-weight: bold;
    color: rgb(255,255,255);
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100px;
    background-color: #ffffff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 5px #000000;
    box-shadow: 0px 0px 5px #000000;
    /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14e6ff', endColorstr='#5c92ff');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#14e6ff', endColorstr = '#5c92ff')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #14e6ff, #5c92ff);
    background-image: -ms-linear-gradient(top, #14e6ff, #5c92ff);
    background-image: -o-linear-gradient(top, #14e6ff, #5c92ff);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#14e6ff), to(#5c92ff));
    background-image: -webkit-linear-gradient(top, #14e6ff, #5c92ff);
    background-image: linear-gradient(top, #14e6ff, #5c92ff);
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
    /*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/

    -moz-transition: -moz-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    transition: transform 0.1s linear;
}

.regist-button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


#footer{
    height: 50px;
    width: 100%;
    font-size: 24px;
    color: #FFFFFF;
    background-color: rgba(255, 167, 85, 0.7);
    border-color: rgba(255, 255, 255, 0);
}