@charset="UTF-8";
/*
 * after user logined header
 */
#profile-image{
	margin-bottom:10px;
}
#user-images{
	margin-top:10px;
}

/*
 * search setting
 */
#search-setting {
	text-align: center;
	background-image: none;
}

/*
 * user-profile
 */
#profile-image-box{
	
	text-align:center;
}
#profile-image{
	height: 90px;
	weight: 90px;
	position: relative;
}
/*
 * user-list
 */
.user-list-image-box{
	/*margin-left:30px; */
	text-align: center;
	height:150px;
	overflow: hidden;
}
.user-list-image{
    margin-bottom :3px;
    /*height: 100%;*/
    position: relative;
    width: 100%;
   }
.like-btn{
	margin-top: -13px;
	border-radius: 20px;
	border-color: #ffc0cb;
	background-color: #ffc0cb;
	/*margin-left:30px; */
}
.panel-default > .like-btn-body{
	border-radius: 20px;
	padding: 5px 10px;
	background-color: #ffc0cb;
}
.user-list-comment{
	font-size: 14px;
}
.user-list-comment > .panel-heading {
	padding: 5px;
	background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
}
.xs-user-liset-box{
	border: 1px solid #ececec;
	padding: 10px;
}
.message {
    background-color: #ffc0cb;
    border-color: #ffc0cb;
    font-size: 12px;
    padding: 4px;
    color: #f00;
    margin: 3px;
}
.apply {
	background-color: #428bca;
	border-color: #428bca;
	font-size: 12px;
	padding:4px;
	margin-top:3px;
}
