#comment > ul, #post-by-name > ul {
    border: 1px solid #ececec;
}
.list-unstyled {
    list-style: none outside none;
    padding-left: 0;
}
#comment > ul > li, #post-by-name > ul > li {
    border-bottom: 1px solid #ececec;
    padding: 2px 0;
}
#post-by-name-title {
    background-color: #f3f3f3;
    border: 1px solid #eee;
    margin-bottom: 0px;
}
.userImage a img {
    height: 38px;
    min-height: 38px;
    min-width: 38px;
    width: auto;
}
.userImage a {
    border-radius: 18px;
    height: 38px;
    width: 38px;
}
.userImage a {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    display: block;
    height: 40px;
    margin-left: 8px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 40px;
}