<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% unless current_user%>
      <a class="navbar-brand" href="/">アルバイトコンシェルジェ</a>
      <% end %>
    </div>

    <% if current_user %>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/"><span class="fa fa-home"></span> home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% session[:push_count] ||=  current_user.pushes.count %>
          <a href=<%= "#{user_path(current_user)}"%>><span class="fa fa-weixin"></span> メッセージ
          <% if session[:push_count] > 0 %> <span class="badge alert-danger"><%= session[:push_count] %></span> <% end %> </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdwon-toggle" data-toggle="dropdown"><span class="fa fa-user"></span> <%= current_user.family_name + " "  + current_user.first_name %>さん<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "マイページ", user_path(current_user) %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, :method=> :delete%>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <% else %>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "ログイン", new_user_session_path, {:id => 'login', :class => "headeder-navi"} %>
        </li>
        <li>
          <%= link_to "新規登録", new_user_registration_path, {:id => 'register', :class => 'headder-navi'} %>
        </li>
        <li>
          <%= link_to "お問い合わせ", "mailto:info@arbeit.undo.jp" %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</div>