<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta nanme="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "アルバイトコンシェルジェ"%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :media => "all" %>
    <%= csrf_meta_tags %>

  </head>
  <% unless current_user%>
  <body style="padding-top: 40px;">
  <% else %>
  <body style="padding-top: 60px;">
  <% end %>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<% key %><%= value %>"><%= value %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
